# Elixir version
elixir_version=1.14.4

# Erlang version
# available versions https://github.com/HashNuke/heroku-buildpack-elixir-otp-builds/blob/master/otp-versions
erlang_version=24.3

# https://github.com/HashNuke/heroku-buildpack-elixir#configuration
# Always rebuild from scratch on every deploy?
always_rebuild=true
config_vars_to_export=(DATABASE_URL PORT)

# Invoke assets.deploy defined in your mix.exs to deploy assets with esbuild
# Note we nuke the esbuild executable from the image
hook_post_compile="eval mix assets.deploy && rm -f _build/esbuild*"
