<%= render "form.html", changeset: @changeset,
                        sections: @sections,
                        categories: @categories,
                        tags: @tags,
                        tech_tags: @tech_tags,
                        action: Routes.article_path(@conn, :update, @article) %>

<%= link "Back", to: Routes.article_path(@conn, :index) %>
