.row.mt-4
  .col-md-6
    %article.show
      %image{data-src='#{@article.image_url}' class='cld-responsive header'}
  .col-md-6.related
    - if length(@related) > 0 do
      %h3.lp related articles
      %ul
        - for related <- @related do
          %li
            %a{href='#{Routes.article_path(@conn, :show, related)}'}
              = related.title

.row
  .col-md-12
    = render CenatusLtdWeb.SharedView, "article.html", article: @article, current_user: @current_user, conn: @conn
