<h2>Show section</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @section.name %>
  </li>
</ul>

<%= link "Edit", to: Routes.section_path(@conn, :edit, @section) %>
<%= link "Back", to: Routes.section_path(@conn, :index) %>
