= render_page_title(@conn)
- for {article, index} <- Enum.with_index(@articles) do

  - if rem(index, 2) == 0 do
    <div class="row articles">

  = render "article_preview.html", article: article, conn: @conn

  - if rem(index, 2) != 0 || (length(@articles) -1) == index do
    </div>

= render "meta.html", conn: @conn, tweets: @tweets, tags: @tags, tech_tags: @tech_tags, tracks: @tracks
