<h2>Edit category</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.category_path(@conn, :update, @category) %>

<%= link "Back", to: Routes.category_path(@conn, :index) %>
